page-define-reference-modal {
	.scroll-content {
		scrollbar-width: none;
	}

	ion-content {
		background-color: map-get($colors, secondary) !important;
	}

	.text-align-center {
		text-align: center;
	}
}
