page-home {
    .ion-item {
        border-bottom: 1px solid #150931;
        white-space: pre-line;
    }
    
    ion-title {
        text-align: center;
    }

    div {
    	height: 100%;
    }
}
