<ion-header>
  <div class="header-container">
    <img class="header-logo" src="../../assets/imgs/logo_schriftzug_weiss.png" height="60">
    <div class="header-icons-div">
      <button class="header-icon" (click)="goToCalendarPage()">
        <img src="../../assets/icon/icon_calendar.png" height="20"> Calendar
      </button>
      <button class="header-icon" (click)="goToToDoPage()">
        <img src="../../assets/icon/icon_todo.png" height="20"> ToDo
      </button>
      <button class="header-icon" (click)="goToGoalsPage()">
        <img src="../../assets/icon/icon_projects.png" height="20"> Projects
      </button>
      <button class="header-icon" (click)="goToCapturePage()">
        <img src="../../assets/icon/icon_captures.png" height="20"> Captures
      </button>
    </div>
  </div>
</ion-header>
 
  <ion-content padding>

  <!-- CapturePage -->
  <div *ngIf="viewpoint == 'CapturePage'">
    <ion-row>
    <ion-col style="text-align: center">
      Capture any thought you have during your day to add it as a note for later processing!
    </ion-col>
    </ion-row>
    <ion-row>
      <p>{{errorMsg}}</p>
   
    <ion-item>
      <ion-label stacked>Content</ion-label>
      <ion-textarea [(ngModel)]="newCapture.content" placeholder="Input new capture"></ion-textarea>
    </ion-item>
    <button ion-button block (click)="addCapture(newCapture)">Add</button>
    </ion-row>
    <ion-item no-lines text-wrap *ngFor="let takenAction of takenActionList | async" (click)="goToProcessTakenActionPage(takenAction)">
      <div class="ion-item-bg"></div>
      <div>You started with action "{{takenAction.content}}", click here to process</div>
    </ion-item>
    <p>Thoughts captured and ready for processing:</p>
    <ion-item no-lines text-wrap *ngFor="let capture of captureList | async" (click)="goToProcessCapturePage(capture)">
      <div class="ion-item-bg" [innerHtml]="capture.content" (swipe)="removeCapture(capture)"></div>
    </ion-item>
  </div>

  <!-- ProcessCapturePage -->
  <div *ngIf="viewpoint=='ProcessCapturePage'">
    <font face="courier new">
      <ion-item [innerHtml]="capture.content"></ion-item>
    </font>

    <p>{{errorMsg}}</p>

    <div *ngIf="pageCtrl == 'chooseGoal'">
        <p>To which goal belongs this capture?</p> 
        <ion-item no-lines *ngFor="let goal of goalList | async" (click)="addToGoal(goal)">
          {{goal.name}}
        </ion-item>
        <br>
        <ion-item no-lines>
          <ion-label stacked>Create new goal for this capture</ion-label><br>
          <ion-textarea [(ngModel)]="goalname" placeholder="Goal name"></ion-textarea>
        </ion-item>
        <button ion-button block (click)="addGoal(goalname)">Create new goal</button>
    </div>

    <div *ngIf="pageCtrl == 'reviewGoal'">
      Reviewing Goal: {{assignedGoal.name}}
      <button ion-button block (click)="nextActions()">Show next actions</button>
      <div *ngIf="showNextActions">
      <ion-item no-lines *ngFor="let action of nextActionList | async">
        <div [innerHtml]="action.content"></div>
      </ion-item>
      </div>
      <button ion-button block (click)="delegations()">Show delegations</button>
      <div *ngIf="showDelegations">
      <ion-item no-lines *ngFor="let delegation of delegationList | async">
        <div [innerHtml]="delegation.content"></div>
      </ion-item>
      </div>
      <button ion-button block (click)="references()">Show references</button>
      <div *ngIf="showReferences">
      <ion-item no-lines *ngFor="let reference of referenceList | async">
        <div [innerHtml]="reference.content"></div>
      </ion-item>
      </div>
      Is right now an action required from you or someone else for this capture?
      <div class="buttons-flex-container">
        <button class="button-left" ion-button round (click)="goToDefineAction()">From me</button>
        <button class="button-left" ion-button round (click)="goToDefineDelegation()">From someone else</button>
        <button class="button-right" ion-button round (click)="goToDefineReference()">No</button>
      </div>
    </div>

    <div *ngIf="pageCtrl == 'defineAction'">
      Defining new action
      <ion-list inset>
        <ion-item no-lines>
          <ion-label>Deadline required?</ion-label>
          <ion-checkbox [(ngModel)]="checkDeadline"></ion-checkbox>
        </ion-item>
        <form (ngSubmit)="addAction()" [formGroup]="defineActionForm">
          <ion-item no-lines>
            <ion-input type="text" placeholder="Action" formControlName="content"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Priority (1: low, 10: high):</ion-label>
            <ion-input type="number" placeholder="0" min="0" max="10" formControlName="priority"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label block>Estimated time in min:</ion-label>
              <ion-input type="number" placeholder="0" min="0" max="1000" formControlName="time"></ion-input>
          </ion-item>
          <div *ngIf="checkDeadline">
            <ion-item no-lines>
              <ion-datetime displayFormat="DD.MMM YYYY" pickerFormat="DD MMM YYYY" max="2100" formControlName="deadline" placeholder="Choose deadline" ></ion-datetime>
            </ion-item>
          </div>
          <button ion-button full type="submit">Define action</button>
        </form>
      </ion-list>
    </div>

    <div *ngIf="pageCtrl == 'defineDelegation'">
        Defining new delegation:
        <ion-list inset>
          <ion-item no-lines>
            <ion-label>Deadline required?</ion-label>
            <ion-checkbox [(ngModel)]="checkDeadline"></ion-checkbox>
          </ion-item>
          <form (ngSubmit)="addDelegation()" [formGroup]="defineDelegationForm">
            <ion-item no-lines>
              <ion-input type="text" placeholder="Delegation" formControlName="content"></ion-input>
            </ion-item>
            <div *ngIf="checkDeadline">
              <ion-item no-lines>
                <ion-datetime displayFormat="DD.MMM YYYY" pickerFormat="DD MMM YYYY" max="2100" formControlName="deadline" placeholder="Choose deadline"></ion-datetime>
              </ion-item>
            </div>
            <button ion-button full type="submit">Define delegation</button>
          </form>
        </ion-list>
      </div>

    <div *ngIf="pageCtrl == 'defineReference'">
      Defining new reference:
      <ion-list inset>
        <form (ngSubmit)="addReference()" [formGroup]="defineReferenceForm">
          <ion-item no-lines>
            <ion-input type="text" value="{{capture.content}}" formControlName="content"></ion-input>
          </ion-item>
          <button ion-button full type="submit">Define reference</button>
        </form>
      </ion-list>
    </div>
  </div>

  <!-- ProcessTakenActionPage -->
  <div *ngIf="viewpoint=='ProcessTakenActionPage'">
    <div *ngIf="pageCtrl == ''">
      Please indicate whether you finished the action or want to abort it.<br>
      <div class="buttons-flex-container">
        <button class="button-left" ion-button round (click)="actionFinished()">Finished</button>
        <button class="button-right" ion-button round (click)="abortAction()">Abort</button>
      </div>
    </div>

    <div *ngIf="pageCtrl == 'actionAborted'">
      You aborted this action, it has been put back into your actions list
    </div>

    <div *ngIf="pageCtrl == 'actionFinished'">
      Congrats! Is your goal now accomplished or does it need more action?
      <div class="buttons-flex-container">
        <button class="button-left" ion-button round (click)="goalFinished()">Accomplished</button>
        <button class="button-right" ion-button round (click)="goalNotFinished()">Not yet</button>
      </div>
    </div>

    <div *ngIf="pageCtrl == 'goalFinished'">
      Congratulations to finishing your goal! Now let's head on to achieving the next ones!
    </div>
  </div>

  <!-- GoalsPage -->
  <div *ngIf="viewpoint == 'GoalsPage'">
    <div *ngIf="pageCtrl == ''">
      <ion-list>
        <ion-item no-lines *ngFor="let goal of goalList | async" (click)="reviewGoal(goal)">
          {{goal.name}}
        </ion-item>
      </ion-list>
    </div>

    <p>{{errorMsg}}</p>

    <div *ngIf="pageCtrl == 'reviewGoal'">
      Reviewing Goal: {{goal.name}}
      <button ion-button block (click)="nextActions()">Show next actions</button>
      <div *ngIf="showNextActions">
        <ion-item no-lines *ngFor="let nextAction of nextActionList | async" (click)="reviewAction(nextAction)">
          <div [innerHtml]="nextAction.content"></div>
          <div *ngIf="showAction === nextAction.key">
            <p>Priority: {{nextAction.priority}}</p>
            <p>Time estimate: {{nextAction.time}}min</p>
            <p *ngIf="nextAction.deadline === ''">No deadline</p>
            <p *ngIf="nextAction.deadline !== ''">Deadline: {{nextAction.deadline}}</p>
            <div class="buttons-flex-container">
              <button class="button-left" ion-button round (click)="deleteAction(nextAction, goal)">Delete</button>
              <button class="button-right" ion-button round (click)="goToEditAction(nextAction)">Edit</button>
            </div>
          </div>
        </ion-item>
      </div>
      <button ion-button block (click)="delegations()">Show delegations</button>
      <div *ngIf="showDelegations">
      <ion-item no-lines *ngFor="let delegation of delegationList | async" (click)="reviewDelegation(delegation)">
          <div [innerHtml]="delegation.content"></div>
        <div *ngIf="showDelegation === delegation.key">
            <p *ngIf="delegation.deadline === ''">No deadline</p>
            <p *ngIf="delegation.deadline !== ''">Deadline: {{delegation.deadline}}</p>
            <div class="buttons-flex-container">
              <button class="button-left" ion-button round (click)="deleteDelegation(delegation, goal)">Delete</button>
              <button class="button-right" ion-button round (click)="goToEditDelegation(delegation)">Edit</button>
            </div>
        </div>
      </ion-item>
      </div>
      <button ion-button block (click)="references()">Show references</button>
      <div *ngIf="showReferences">
      <ion-item no-lines *ngFor="let reference of referenceList | async" (click)="reviewReference(reference)">
          <div [innerHtml]="reference.content"></div>
        <div *ngIf="showReference === reference.key">
            <div class="buttons-flex-container">
              <button class="button-left" ion-button round (click)="deleteReference(reference, goal)">Delete</button>
              <button class="button-right" ion-button round (click)="goToEditReference(reference)">Edit</button>
            </div>
        </div>
      </ion-item>
      </div>
      <button ion-button round (click)="deleteGoal(goal)">Delete Goal</button>
    </div>

    <div *ngIf="pageCtrl == 'editAction'">
        Edit action
        <ion-list inset>
          <form (ngSubmit)="editAction()" [formGroup]="editActionForm">
            <ion-item no-lines>
              <ion-input type="text" value="{{action.content}}" formControlName="content"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-label>Priority (1: low, 10: high):</ion-label>
              <ion-input type="number" value="{{action.priority}}" min="0" max="10" formControlName="priority"></ion-input>
            </ion-item>
            <ion-item no-lines>
                <ion-label block>Estimated time in min:</ion-label>
                <ion-input type="number" value="{{action.time}}" min="0" max="1000" formControlName="time"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-label>Deadline</ion-label>
              <ion-datetime displayFormat="D.MMM.YYYY" formControlName="deadline" max="2099-12-31" placeholder="Choose deadline"></ion-datetime>
            </ion-item>
            <button ion-button full type="submit">Edit</button>
          </form>
        </ion-list>
      </div>

      <div *ngIf="pageCtrl == 'editDelegation'">
        Edit delegation
        <ion-list inset>
          <form (ngSubmit)="editDelegation()" [formGroup]="editDelegationForm">
            <ion-item no-lines>
              <ion-input type="text" value="{{delegation.content}}" formControlName="content"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-label>Deadline</ion-label>
              <ion-datetime displayFormat="D.MMM.YYYY" formControlName="deadline" max="2099-12-31" placeholder="Choose deadline"></ion-datetime>
            </ion-item>
            <button ion-button full type="submit">Edit</button>
          </form>
        </ion-list>
      </div>

      <div *ngIf="pageCtrl == 'editReference'">
          Edit reference
          <ion-list inset>
            <form (ngSubmit)="editReference()" [formGroup]="editReferenceForm">
              <ion-item no-lines>
                <ion-input type="text" value="{{reference.content}}" formControlName="content"></ion-input>
              </ion-item>
              <button ion-button full type="submit">Edit</button>
            </form>
          </ion-list>
      </div>
    </div>

    <!-- ToDoPage -->
    <div *ngIf="viewpoint == 'ToDoPage'">
      <div *ngIf="pageCtrl == ''">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <form (ngSubmit)="showDoableActions()" [formGroup]="giveTimeForm">
                <ion-item class="primary">
                  <ion-label class="primary">Time available in minutes:</ion-label>
                  <ion-input class="placeholder-secondary" type="number" placeholder="0" min="0" formControlName="timeEstimate"></ion-input>
                </ion-item>
              </form>
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
            <p>{{errorMsg}}</p>
            <ion-item no-lines *ngFor="let action of doableHighPriorityActions" (click)="takeThisAction(action)">
            <div [innerHtml]="action.content"></div>
            </ion-item>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="pageCtrl == 'actionTaken'">
        Great, have fun while taking Action!
      </div>
    </div>

    <!-- CalendarPage -->
    <div *ngIf="viewpoint == 'CalendarPage'">
      <ion-row>
        <ion-buttons end>
          <button ion-button icon-only (click)="addEvent()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
        <ion-col style="text-align: center">
          <h2>{{ viewTitle }}</h2>
        </ion-col>
      </ion-row>
      <calendar [eventSource]="eventSource"
                [calendarMode]="calendar.mode"
                [currentDate]="calendar.currentDate"
                (onEventSelected)="onEventSelected($event)"
                (onTitleChanged)="onViewTitleChanged($event)"
                (onTimeSelected)="onTimeSelected($event)"
                step="5"
                class="calendar"
                autoSelect="false">
      </calendar>




    </div>






</ion-content>