<ion-header>
  <ion-navbar>
    <ion-title>Gossik</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle edge>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <font face="courier new">
    <ion-item [innerHtml]="capture.content"></ion-item>
  </font>

  <p>{{errorMsg}}</p>

  <div *ngIf="processCtrl == 'chooseGoal'">
      <p>Assign to goal</p> 
      <ion-item no-lines *ngFor="let goal of goalList | async" (click)="addToGoal(goal)">
        {{goal.name}}
      </ion-item>
      <br>
      <ion-item no-lines>
        <ion-label stacked>Or create new goal</ion-label><br>
        <ion-textarea [(ngModel)]="goalname" placeholder="Goal name"></ion-textarea>
      </ion-item>
      <button ion-button block (click)="addGoal(goalname)">Create new goal</button>
  </div>

  <div *ngIf="processCtrl == 'reviewGoal'">
    Reviewing Goal: {{assignedGoal.name}}
    <button ion-button block (click)="nextActions()">Show next actions</button>
    <div *ngIf="showNextActions">
    <ion-item no-lines *ngFor="let action of nextActionList | async">
      <div [innerHtml]="action.content"></div>
    </ion-item>
    </div>
    <button ion-button block (click)="delegations()">Show delegations</button>
    <div *ngIf="showDelegations">
    <ion-item no-lines *ngFor="let delegation of delegationList | async">
      <div [innerHtml]="delegation.content"></div>
    </ion-item>
    </div>
    <button ion-button block (click)="references()">Show references</button>
    <div *ngIf="showReferences">
    <ion-item no-lines *ngFor="let reference of referenceList | async">
      <div [innerHtml]="reference.content"></div>
    </ion-item>
    </div>
    Is right now an action required from you or someone else for this capture?
    <div class="buttons-flex-container">
      <button class="button-left" ion-button round (click)="goToDefineAction()">From me</button>
      <button class="button-left" ion-button round (click)="goToDefineDelegation()">From someone else</button>
      <button class="button-right" ion-button round (click)="goToDefineReference()">No</button>
    </div>
  </div>

  <div *ngIf="processCtrl == 'defineAction'">
    Defining new action
    <ion-list inset>
      <ion-item no-lines>
        <ion-label>Deadline required?</ion-label>
        <ion-checkbox [(ngModel)]="checkDeadline"></ion-checkbox>
      </ion-item>
      <form (ngSubmit)="addAction()" [formGroup]="defineActionForm">
        <ion-item no-lines>
          <ion-input type="text" placeholder="Action" formControlName="content"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Priority (0: low, 10: high):</ion-label>
          <ion-input type="number" placeholder="0" min="0" max="10" formControlName="priority"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label block>Estimated time in min:</ion-label>
            <ion-input type="number" placeholder="0" min="0" max="1000" formControlName="time"></ion-input>
        </ion-item>
        <div *ngIf="checkDeadline">
          <ion-item no-lines>
            <ion-datetime displayFormat="D.MMM.YYYY" formControlName="deadline" placeholder="Choose deadline" max="2099-12-31"></ion-datetime>
          </ion-item>
        </div>
        <button ion-button full type="submit">Define action</button>
      </form>
    </ion-list>
  </div>

  <div *ngIf="processCtrl == 'defineDelegation'">
      Defining new delegation:
      <ion-list inset>
        <ion-item no-lines>
          <ion-label>Deadline required?</ion-label>
          <ion-checkbox [(ngModel)]="checkDeadline"></ion-checkbox>
        </ion-item>
        <form (ngSubmit)="addDelegation()" [formGroup]="defineDelegationForm">
          <ion-item no-lines>
            <ion-input type="text" placeholder="Delegation" formControlName="content"></ion-input>
          </ion-item>
          <div *ngIf="checkDeadline">
            <ion-item no-lines>
              <ion-datetime displayFormat="D.MMM.YYYY" formControlName="deadline" placeholder="Choose deadline" max="2099-12-31"></ion-datetime>
            </ion-item>
          </div>
          <button ion-button full type="submit">Define delegation</button>
        </form>
      </ion-list>
    </div>

  <div *ngIf="processCtrl == 'defineReference'">
    Defining new reference:
    <ion-list inset>
      <form (ngSubmit)="addReference()" [formGroup]="defineReferenceForm">
        <ion-item no-lines>
          <ion-input type="text" value="{{capture.content}}" formControlName="content"></ion-input>
        </ion-item>
        <button ion-button full type="submit">Define reference</button>
      </form>
    </ion-list>
  </div>
</ion-content>
