page-process-capture {

    button {
        margin-left: auto;
        margin-right: auto;
    }

    .buttons-flex-container {
        display: flex;
        justify-content: center;
    }

    .buttons-flex-container>.button-left {
        order: 1;
    }

    .buttons-flex-container>.button-right {
        order: 2;
    }

}
