<ion-header>
  <ion-navbar>
    <ion-title>Gossik</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle edge>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="reviewCtrl == ''">
    <ion-list>
      <ion-item *ngFor="let goal of goalList | async" (click)="reviewGoal(goal)">
        {{goal.name}}
      </ion-item>
    </ion-list>
  </div>


  <div *ngIf="reviewCtrl == 'reviewGoal'">
    Reviewing Goal: {{goal.name}}
    <button ion-button block round (click)="nextActions()">Show next actions</button>
    <div *ngIf="showNextActions">
    <ion-item *ngFor="let nextAction of nextActionList | async" (click)="reviewAction(nextAction)">
      {{nextAction.content}}
      <div *ngIf="showAction === nextAction.key">
        Priority: {{nextAction.priority}}
        <div *ngIf="nextAction.deadline !== ''">Deadline: {{nextAction.deadline}}</div>
        <div class="buttons-flex-container">
          <button class="button-left" ion-button round (click)="deleteAction(nextAction, goal)">Delete</button>
          <button class="button-right" ion-button round (click)="editAction(nextAction)">Edit</button>
        </div>
      </div>
    </ion-item>
    </div>
    <button ion-button block round (click)="waitingFors()">Show waiting fors</button>
    <div *ngIf="showWaitingFors">
    <ion-item *ngFor="let action of waitingForList | async">{{action.content}}</ion-item>
    </div>
    <button ion-button block round (click)="references()">Show references</button>
    <div *ngIf="showReferences">
    <ion-item *ngFor="let reference of referenceList | async">{{reference.content}}</ion-item>
    </div>
  </div>

  <div *ngIf="reviewCtrl == 'editOwnAction'">
      Defining new action
      <ion-list inset>
        <ion-item>
          <ion-label>Deadline required?</ion-label>
          <ion-checkbox [(ngModel)]="checkDeadline"></ion-checkbox>
        </ion-item>
        <form (ngSubmit)="defineOwnAction()" [formGroup]="defineOwnActionForm">
          <ion-item>
            <ion-input type="text" placeholder="Action" formControlName="content"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Priority (0: low, 10: high):</ion-label>
            <ion-input type="number" placeholder="0" min="0" max="10" formControlName="priority" value="0"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label block>Estimated time in min:</ion-label>
              <ion-input type="number" placeholder="Time" min="0" max="1000" formControlName="time" value="0"></ion-input>
          </ion-item>
          <ion-item>
              <div *ngIf="checkDeadline">
                  <ion-datetime displayFormat="D.MMM.YYYY" formControlName="deadline" placeholder="Choose deadline" max="2099-12-31"></ion-datetime>
              </div>
          </ion-item>
          <button ion-button full type="submit">Define action</button>
        </form>
      </ion-list>
    </div>




</ion-content>
