<ion-header>
  <ion-navbar>
    <ion-title>Gossik</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle edge>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="reviewCtrl == ''">
    <ion-list>
      <ion-item *ngFor="let goal of goalList | async" (click)="reviewGoal(goal)">
        {{goal.name}}
      </ion-item>
    </ion-list>
  </div>

  <p>{{errorMsg}}</p>

  <div *ngIf="reviewCtrl == 'reviewGoal'">
    Reviewing Goal: {{goal.name}}
    <button ion-button block round (click)="nextActions()">Show next actions</button>
    <div *ngIf="showNextActions">
    <ion-item *ngFor="let nextAction of nextActionList | async" (click)="reviewAction(nextAction)">
      {{nextAction.content}}
      <div *ngIf="showAction === nextAction.key">
        <p>Priority: {{nextAction.priority}}</p>
        <p>Time estimate: {{nextAction.time}}min</p>
        <p *ngIf="nextAction.deadline === ''">No deadline</p>
        <p *ngIf="nextAction.deadline !== ''">Deadline: {{nextAction.deadline}}</p>
        <div class="buttons-flex-container">
          <button class="button-left" ion-button round (click)="deleteAction(nextAction, goal)">Delete</button>
          <button class="button-right" ion-button round (click)="goToEditAction(nextAction)">Edit</button>
        </div>
      </div>
    </ion-item>
    </div>
    <button ion-button block round (click)="waitingFors()">Show waiting fors</button>
    <div *ngIf="showWaitingFors">
    <ion-item *ngFor="let waitingFor of waitingForList | async" (click)="reviewWaitingFor(waitingFor)">
      {{waitingFor.content}}
      <div *ngIf="showWaitingFor === waitingFor.key">
          <p *ngIf="waitingFor.deadline === ''">No deadline</p>
          <p *ngIf="waitingFor.deadline !== ''">Deadline: {{waitingFor.deadline}}</p>
          <div class="buttons-flex-container">
            <button class="button-left" ion-button round (click)="deleteWaitingFor(waitingFor, goal)">Delete</button>
            <button class="button-right" ion-button round (click)="goToEditWaitingFor(waitingFor)">Edit</button>
          </div>
      </div>
    </ion-item>
    </div>
    <button ion-button block round (click)="references()">Show references</button>
    <div *ngIf="showReferences">
    <ion-item *ngFor="let reference of referenceList | async">{{reference.content}}</ion-item>
    </div>
  </div>

  <div *ngIf="reviewCtrl == 'editOwnAction'">
      Edit action
      <ion-list inset>
        <form (ngSubmit)="editOwnAction()" [formGroup]="editOwnActionForm">
          <ion-item>
            <ion-input type="text" value="{{action.content}}" formControlName="content"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Priority (0: low, 10: high):</ion-label>
            <ion-input type="number" value="{{action.priority}}" min="0" max="10" formControlName="priority" value="0"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label block>Estimated time in min:</ion-label>
              <ion-input type="number" value="{{action.time}}" min="0" max="1000" formControlName="time" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Deadline</ion-label>
            <ion-datetime displayFormat="D.MMM.YYYY" formControlName="deadline" max="2099-12-31" placeholder="Choose deadline"></ion-datetime>
          </ion-item>
          <button ion-button full type="submit">Edit</button>
        </form>
      </ion-list>
    </div>

    <div *ngIf="reviewCtrl == 'editWaitingFor'">
      Edit waiting for
      <ion-list inset>
        <form (ngSubmit)="editWaitingFor()" [formGroup]="editWaitingForForm">
          <ion-item>
            <ion-input type="text" value="{{waitingFor.content}}" formControlName="content"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Deadline</ion-label>
            <ion-datetime displayFormat="D.MMM.YYYY" formControlName="deadline" max="2099-12-31" placeholder="Choose deadline"></ion-datetime>
          </ion-item>
          <button ion-button full type="submit">Edit</button>
        </form>
      </ion-list>
    </div>




</ion-content>
